{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=cyrillic">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'styles/bootstrap_css/bootstrap.css' %}">
    <!-- Custom styles -->
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/font-awesome.min.css' %}">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-expand-lg fixed-top bg-light">
        <button type="button" class="navbar-toggler hidden-sm-up" data-toggle="collapse" data-target=".navbar-collapse">
             &#9776;
         </button>
         <div class="container-fluid">
             <div class="navbar-header">
                 <a class="navbar-brand" href="/">Booker</a>
             </div>
             <div class="navbar-collapse collapse">
                 <ul class="nav navbar-nav nav-fill">
                     <li class="nav-item active" data-toggle="tooltip" data-placement="bottom" title="Get back to home page">
                         <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                     </li>
                     <li class="nav-item" data-toggle="tooltip" data-placement="bottom" title="Look for our products here">
                         <a class="nav-link" href="/product/">Products</a>
                     </li>
                     <li class="nav-item" data-toggle="tooltip" data-placement="bottom" title="Feed back">
                         <a class="nav-link" href="/contact/">Contacts</a>
                     </li>
                     {% if user.is_authenticated %}
                     <li class="nav-item btn btn-sm btn-outline-dark ml-3">
                         <a class="nav-link" href="/logout/">Logout</a>
                     </li>
                     {% else %}
                      <li class="nav-item btn btn-sm btn-outline-dark ml-3">
                         <a class="nav-link" href="/login/">Login</a>
                     </li>
                     <li class="nav-item btn btn-sm btn-outline-danger ml-3">
                         <a class="nav-link" href="/register/">Register</a>
                     </li>
                     {% endif %}
                     <li class="nav-item">
                         <a class="nav-link" href="/admin/">Login as admin</a>
                     </li>
                 </ul>
            </div>
         </div>
     </nav>
     <div class="header">
         <div class="container d-flex justify-content-center flex-column align-items-center">
             <div class="row justify-content-center">
                 <h1 class="display-2 col-12">Welcome to Booker!</h1>
                 <h4 class="display-4">"Books are a uniquely portable magic."<i>   –  Stephen King</i></h4>
             </div>
         </div>
     </div>
     <div class="centered w">
         <div class="row centered">
             <br><br><br><br>
             <div class="col-lg-4">
                 <i class="fa fa-laptop"></i>
                 <h3>Info</h3>
                 <p>Books play a significant role in our life. They say that “When you open a book, you open a new world”.
                     I believe that everyone would agree with this statement as books have become inevitable to mankind.
                     For the majority of people, books are part of their everyday life.
                     A book is like a best friend who will never walk away from you.</p>
             </div>
             <div class="col-lg-4">
                 <i class="fa fa-heart"></i>
                 <h3>About us</h3>
                 <p>This shop is absolutely tolerant to any national minors. Created with the help of BMSTU. </p>
             </div>
             <div class="col-lg-4 ">
                 <i class="fa fa-trophy"></i>
                 <h3>Special offers</h3>
                 <p>A special offer is a product or a set of goods for which
                     an additional discount is assigned. As a rule, the discount
                     is 5% - 15%. Discount for products from special offers is summed up
                     with a cumulative discount, but does not intersect with other promotional
                     discounts. Special offers are formed on a certain topic.
                     In our special offers you will find gifts for the whole family, for distant relatives and close
                     friends, for toddlers and not to the extent of developed teenagers.
                     In order to purchase the complete set, you need to click on the "Buy" button,
                     located under the description of the product or kit included in the special offer.</p>
             </div>
         </div>
         <br><br>
     <br><br>
     </div>
    <!-- Footer -->
    <footer class="footer bg-dark text-white">

        <!-- Social Icons -->
        <div class="bg-primary">
            <div class="container">
                <div class="row py-4">
                    <div class="col-md-6 col-lg-7">
                        <h4 class="mb-0 white-text">Get connected with us on social networks!</h4>
                    </div>
                    <div class="col-md-6 col-lg-5 text-right">
                        <a href="http://facebook.com" style="color: greenyellow"><i class="fa fa-facebook white-text mr-lg-4 fa-2x"> </i></a>
                        <a href="http://twitter.com" style="color: greenyellow"><i class="fa fa-twitter white-text mr-lg-4 fa-2x"> </i></a>
                        <a href="http://google.com" style="color: greenyellow"><i class="fa fa-google-plus white-text mr-lg-4 fa-2x"> </i></a>
                        <a href="http://instagram.com" style="color: greenyellow"><i class="fa fa-instagram white-text mr-lg-4 fa-2x"> </i></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer Links -->
        <div class="container pt-5 pb-2">
            <div class="row">

                <div class="col-md-3 col-lg-4 col-xl-3">
                    <h4 style="color: #ffb9fd"><b>Booker</b></h4>
                    <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                    <p>
                        We tolerate to all nations and fight racism.
                    </p>
                </div>

                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto">
                    <h4 style="color: #ffb9fd">Useful links</h4>
                    <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                    <p><a href="/" class="text-white">Home</a></p>
                    <p><a href="/product/" class="text-white">Products</a></p>
                    <p><a href="/contact/" class="text-white">Contact</a></p>
                </div>

                <div class="col-md-4 col-lg-3 col-xl-3">
                    <h4 style="color: #ffb9fd">Contact</h4>
                    <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                    <p><i class="fa fa-home mr-3"></i>105005, г.Москва, 2-я Бауманская д.5, МГТУ им.Н.Э. Баумана, Кафедра ИУ-7</p>
                    <p><i class="fa fa-envelope mr-3"></i> linonse@yandex.ru</p>
                    <p><i class="fa fa-phone mr-3"></i> +7 (499) 285-96-82</p>
                    <p><i class="fa fa-print mr-3"></i> +7 (499) 888-27-96</p>
                </div>

            </div>
        </div>
        <!-- Footer Links-->

        <hr class="bg-white mx-4 mt-2 mb-1">

        <!-- Copyright-->
        <div class="container-fluid">
            <p class="text-center m-0 py-1">
                © 2019 Copyright <a href="http://bmstu.ru" class="text-white">BMSTU</a>
            </p>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>