{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=cyrillic">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'styles/bootstrap_css/bootstrap.css' %}">
    <!-- Custom styles -->
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/font-awesome.min.css' %}">
</head>
<body>
</body>
</html>
